body{
    background-color: #FDF5DF;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}
header,footer{
    background-color: #e7c66b;
}
.gallery {
    background-image: url('./images/q2.jpg');
    background-size: 100% 100%;
    box-shadow: 1px 2px 10px white;
    animation: slider 10s infinite ease-in-out;
}


button {
    border-radius: 4px;
    background-color: #4CAF50;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    padding: 6px;
    width: 140px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  }
  
  button{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  button:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
  }
  
  button:hover{
    padding-right: 24px;
    padding-left:8px;
    background-color: #4f8f50;
  }
  
  button:hover:after {
    opacity: 1;
    right: 10px;
  }

@keyframes slider {
    /* 0% {background-image: url("./images/q1.jpg");} */
    0% {background-image: url("./images/q2.jpg");}
    35% {background-image: url("./images/logo.jpg");}
    75% {background-image: url("./images/main.jpg");}
}

